.wrapper {
  background: rgba(220, 218, 218, 0.95);
  padding: 20px;
  border-radius: 20px;
  align-content: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title{
  opacity: 0.9;
  font-size: 16px;
}


