.wrapper {
  text-align: center;
}

.switch {
  display: inline;
  
  margin: 0 20px;
  cursor: pointer;
  
  
  
}

.active {
  color: #3636bc;
}

.inactive {
  color: black;
}

@media only screen and (max-width: 475px) {
  .wrapper {
    text-align: center;
  }
}

@media only screen and (max-width: 335px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .switch {
    margin-top: 20px 0;
  }
}
